/*******************************************************************

Copyright 2010, Adrian Laurenzi

This file is part of ImpactProbe.

ImpactProbe is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

ImpactProbe is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ImpactProbe. If not, see <http://www.gnu.org/licenses/>.

*******************************************************************/

html, body { 
    margin: 0;
    padding: 0px;
    border: none;
    font-family:sans-serif;
    font-size:13px;
}

/* forms */
.errors {
    font-weight:bold;
    color:#FF0000;
}
.success {
    font-weight:bold;
    color:#00CC00;
}
.date_field {
    width:25px;
    font-size:12px;
}

/* main */
#project_title { width:275px; }
#add_keyword { width:150px; }

#keywords_phrases, #deactivated_keywords_phrases {
    width:276px;
    height:150px;
}
#rss_feeds, #deactivated_rss_feeds {
    width:327px;
    height:90px;
}

#container {
    padding-left:10px; padding-right:10px; padding-bottom:10px;
}

.table_header { background:#0000A9; color:#FFFFFF; }

.bg_white { background:#FFFFFF; }
.bg_grey { background:#E1E1E1; }
.bg_red { background:#FF0000; }